
@import "tailwindcss";
body{
  background-color:rgb(255, 255, 255);
}

.hide{
  opacity:0;
  transform: translateY(50px);
  transition:opacity 2s ease, transform 2s ease;
}

.show{
  opacity:1;
  transform: translateY(0);
}

.transicao{
  transition: all 1s ease; /* Aplica transição lenta em todos os estilos */
  position: relative; 
}


.link{
    font-weight: 550;
    white-space: nowrap;
     font-family: "DM Sans", sans-serif;
    
}
.link:hover{
  
  font-size: larger;
  
  font-weight: 400px;
}





/*carossel:*/

#slide-1{
 background-image: linear-gradient(rgba(0,0,0,0), rgba(25, 0, 17, 0.978)), url("img/gravida3.png");
background-repeat: no-repeat;
background-repeat: no-repeat;
background-size:cover;
background-position:center center;
background-position-y: 0px; 


}
#slide-2{
 background-image: linear-gradient(rgba(0,0,0,0), rgba(25, 0, 17, 0.978)),  url("img/gravida1.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center center;
background-position-y: 0px; 

}
#slide-3{
 background-image: linear-gradient(rgba(0,0,0,0), rgba(46, 0, 32, 0.978)),  url("img/gravida2.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position:center center;
background-position-y: 0px; 

}




/*****************************/